@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#card-img-top {
  width: 150px;
  height: 215px;
  
}

#product-container {
  padding: 0;
  border: solid 3px white;
  background-color: #c3d1d4;
  font-family: 'Poppins', sans-serif;
  word-spacing: 2px;
  gap: 15px;
  display: flex;
  margin-bottom: 8px;
 
}

#amazon {
  color: indigo;
  font-family: 'Poppins', sans-serif;
}

#nav {
  width: 100%;
  justify-content: center;
}

.amznlogo{
  width: 100px;
  height: 50px;
}

.fliplogo{
  width:100px;
  height: 80px;
}